In [1]:
import pandas as pd
# https://www.dubaipulse.gov.ae/data/allresource/dewa-consumption/dewa_electricity_consumption-open?count=187&result_per_page=100&page=1

In [3]:
df1 = pd.read_csv("EC_2017.csv")
df2 = pd.read_csv("EC_2018.csv")
df3 = pd.read_csv("EC_2019.csv")
df4 = pd.read_csv("EC_2020.csv")
df5 = pd.read_csv("EC_2021.csv")
df6 = pd.read_csv("EC_2022.csv")
#df7 = pd.read_csv(".csv")
#df8 = pd.read_csv(".csv")
#df9 = pd.read_csv(".csv")
#df10 = pd.read_csv(".csv")
#df11 = pd.read_csv(".csv")
#df12 = pd.read_csv(".csv")

In [4]:
print("DataFrame 1 rows =", len(df1))
print("DataFrame 2 rows =", len(df2))
print("DataFrame 3 rows =", len(df3))
print("DataFrame 4 rows =", len(df4))
print("DataFrame 5 rows =", len(df5))
print("DataFrame 6 rows =", len(df6))
#print("DataFrame 7 rows =", len(df7))
#print("DataFrame 8 rows =", len(df8))
#print("DataFrame 9 rows =", len(df9))
#print("DataFrame 10 rows =", len(df10))
#print("DataFrame 11 rows =", len(df11))
#print("DataFrame 12 rows =", len(df12))
print("Total Rows =", len(df1)+len(df2)+len(df3)+len(df4)+len(df5)+len(df6))    #+len(df7)+len(df8)+len(df9)+len(df10)+len(df11)+len(df12)

DataFrame 1 rows = 14291432
DataFrame 2 rows = 19380837
DataFrame 3 rows = 20508183
DataFrame 4 rows = 5472026
DataFrame 5 rows = 8068468
DataFrame 6 rows = 5373771
Total Rows = 73094717

In [5]:
df3['consumption_period'] = df3['consumption_period'].astype(str) + '19'
df3['consumption_period'] = df3['consumption_period'].astype(str) + '9'

In [7]:
dfABDUL = pd.concat([df1,df2,df3,df4,df5,df6])   # ,df7,df8,df9,df10,df11,df12

In [12]:
dfABDUL.head()

,Unnamed: 0,community,rate_category,consumption_period,calendar_month,contract_account,consumption_unit,business_partner,billing_portion,consumption_periods
0,0,345.0,ENORATE,22.03.2017,201201,2.012349e+09,0.0,10498095,B28,2017-03-22
1,1,345.0,ENORATE,22.03.2017,201202,2.012349e+09,0.0,10498095,B28,2017-03-22
2,2,345.0,ENORATE,22.03.2017,201203,2.012349e+09,0.0,10498095,B28,2017-03-22
3,3,345.0,ENORATE,22.03.2017,201204,2.012349e+09,0.0,10498095,B28,2017-03-22
4,4,345.0,ENORATE,22.03.2017,201205,2.012349e+09,0.0,10498095,B28,2017-03-22

In [11]:
dfABDUL["consumption_periods"] = pd.to_datetime(dfABDUL["consumption_period"], format = '%d.%m.%Y', errors = 'coerce')

In [15]:
dfABDUL.head()

,Unnamed: 0,community,rate_category,consumption_period,calendar_month,contract_account,consumption_unit,business_partner,billing_portion,consumption_periods
0,0,345.0,ENORATE,22.03.2017,201201,2.012349e+09,0.0,10498095,B28,2017-03-22
1,1,345.0,ENORATE,22.03.2017,201202,2.012349e+09,0.0,10498095,B28,2017-03-22
2,2,345.0,ENORATE,22.03.2017,201203,2.012349e+09,0.0,10498095,B28,2017-03-22
3,3,345.0,ENORATE,22.03.2017,201204,2.012349e+09,0.0,10498095,B28,2017-03-22
4,4,345.0,ENORATE,22.03.2017,201205,2.012349e+09,0.0,10498095,B28,2017-03-22

In [19]:
dft = dfABDUL.iloc[:, [1, 2, 6, 9]]
dft.head()

   community rate_category  consumption_unit consumption_periods
0      345.0       ENORATE               0.0          2017-03-22
1      345.0       ENORATE               0.0          2017-03-22
2      345.0       ENORATE               0.0          2017-03-22
3      345.0       ENORATE               0.0          2017-03-22
4      345.0       ENORATE               0.0          2017-03-22

In [21]:
dfABDULz= dft[dft['consumption_unit'] != 0]
dfABDULz.head()

      community rate_category  consumption_unit consumption_periods
1468      312.0      COMMELEC            1007.0          2017-03-31
1469      312.0      COMMELEC            2937.0          2017-03-07
1470      312.0      COMMELEC             897.0          2017-03-06
1471      312.0      COMMELEC            2931.0          2017-03-06
1472      312.0      COMMELEC            3457.0          2017-03-31

In [22]:
dft["consumption_periodz"] = pd.to_datetime(dft["consumption_periods"], format = '%d.%m.%Y').apply(lambda x: x.strftime('%Y-%m'))
dft.head()

KeyboardInterrupt:

In [ ]:
dfABDUL.to_csv('EC_2017-2022.csv')

In [6]:
dftest = pd.read_csv("EC_2017-2022.csv")
print(dftest)

          Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  community rate_category  \
0                    0             0           0      345.0       ENORATE
1                    1             1           1      345.0       ENORATE
2                    2             2           2      345.0       ENORATE
3                    3             3           3      345.0       ENORATE
4                    4             4           4      345.0       ENORATE
...                ...           ...         ...        ...           ...
73094712       5373766       5373766      912319      236.0      COMMELEC
73094713       5373767       5373767      912320      241.0      RESIEXPE
73094714       5373768       5373768      912321      133.0      RESIEXPE
73094715       5373769       5373769      912322      236.0      RESIEXPE
73094716       5373770       5373770      912323      241.0      RESIEXPE

         consumption_period  calendar_month  consumption_unit  consumption
0                22.03.2017          201201               0.0     0.000045
1                22.03.2017          201202               0.0     0.004710
2                22.03.2017          201203               0.0     0.009421
3                22.03.2017          201204               0.0     0.014131
4                22.03.2017          201205               0.0     0.018842
...                     ...             ...               ...          ...
73094712         07.05.2022          202205             889.0   889.000000
73094713         07.05.2022          202205             498.0   498.000000
73094714         06.05.2022          202205             202.0   202.000000
73094715         07.05.2022          202205             373.0   373.000000
73094716         07.05.2022          202205             551.0   551.000000

[73094717 rows x 9 columns]