In [1]:
import pandas as pd

# https://www.dubaipulse.gov.ae/data/allresource/dewa-consumption/dewa_electricity_consumption-open?count=187&result_per_page=100&page=1

In [2]:
df = pd.read_csv("EC_2017-2020.csv")

In [3]:
df.sort_values('calendar_month', ascending=True)

,Unnamed: 0,community,rate_category,consumption_period,calendar_month,consumption_unit,billing_portion
9548460,9548460,393.0,ENORATE,10.10.2017,200802,0.000,B32
9548461,9548461,393.0,ENORATE,10.10.2017,200803,0.000,B32
6584627,6584627,134.0,ENORATE,10.08.2017,200804,0.000,D21
9548462,9548462,393.0,ENORATE,10.10.2017,200804,0.000,B32
9548463,9548463,393.0,ENORATE,10.10.2017,200805,0.000,B32
...,...,...,...,...,...,...,...
58651841,4471389,392.0,RESIEXPE,25.03.2020,202003,110.700,B30
58651839,4471387,392.0,RESIEXPE,25.03.2020,202003,359.330,B30
58651851,4471399,392.0,RESIEXPE,25.03.2020,202003,314.931,B30
59652477,5472025,800.0,RESINATSE,18.03.2020,202003,2292.192,915
58802604,4622152,681.0,RESIEXPE,31.03.2020,202004,29.709,B32

In [6]:
resul1 = df[['consumption_unit']].aggregate('sum')
print(resul1)

# Total power consumed

consumption_unit    1.709008e+11
dtype: float64

In [23]:
result2 = df.groupby('calendar_month')['consumption_unit'].aggregate('sum')
print(result2)

# Months againest total used in said month

calendar_month
200802    0.000000e+00
200803    0.000000e+00
200804    0.000000e+00
200805    0.000000e+00
200806    0.000000e+00
              ...
201912    2.121122e+09
202001    2.222217e+09
202002    1.656270e+09
202003    7.645284e+08
202004    2.970900e+01
Name: consumption_unit, Length: 147, dtype: float64

In [11]:
result3 = df.groupby('rate_category')['consumption_unit'].aggregate('sum')
print(result3)

# Consumer categories againest total power used by said categories

rate_category
COMMELEC      8.854952e+10
ENORATE       0.000000e+00
FREENRESIE    8.145304e+08
FREERESIE     8.276262e+07
GOVTELEC      1.170638e+10
INDTELEC      1.244288e+10
RESIEXPE      4.040845e+10
RESINATE      1.571091e+10
RESINATSE     1.185360e+09
Name: consumption_unit, dtype: float64

In [22]:
result4 = df.groupby('rate_category')['consumption_unit'].aggregate(['max', 'median', 'min', 'std', 'var'])
print(result4)

# Consumer categories with their max, min etc...

                        max      median          min           std  \
rate_category
COMMELEC       1.543848e+07    416.0150 -1371413.334  4.444732e+04
ENORATE        0.000000e+00      0.0000        0.000  0.000000e+00
FREENRESIE     2.689510e+08     86.7270 -3575074.183  1.191509e+06
FREERESIE      7.326934e+05      0.0000   -40108.701  4.055915e+04
GOVTELEC       2.138052e+07   3212.1845   -84913.854  3.637310e+05
INDTELEC       1.371785e+07  10718.4000  -443915.881  2.208664e+05
RESIEXPE       4.010266e+06    274.0200 -1383112.434  5.618291e+03
RESINATE       7.494282e+05   2492.7520  -181076.275  7.828000e+03
RESINATSE      8.433799e+04   2881.8330   -59977.135  4.557998e+03

                        var
rate_category
COMMELEC       1.975565e+09
ENORATE        0.000000e+00
FREENRESIE     1.419693e+12
FREERESIE      1.645044e+09
GOVTELEC       1.323003e+11
INDTELEC       4.878196e+10
RESIEXPE       3.156520e+07
RESINATE       6.127759e+07
RESINATSE      2.077535e+07

In [24]:
result5 = df.groupby("community")["consumption_unit"].aggregate(['sum', 'max', 'min', 'median', 'std'])
print(result5)

# Communities with their max, min etc...

                    sum          max        min       median            std
community
111.0      1.244751e+08  3996769.290      0.000     207.7670  174719.036730
112.0      3.185046e+08   464658.320 -39870.000     105.3860    4821.456434
113.0      3.997719e+08   466514.602 -46420.300     121.2060    4496.662404
114.0      3.138897e+08  1006122.680 -11685.000     101.5980    7380.586512
115.0      1.917137e+08  1193852.961 -11967.097     119.1270   13683.169395
...                 ...          ...        ...          ...            ...
967.0      7.835236e+06    86928.350 -30480.768    5268.7210   15867.041480
971.0      1.228491e+07   527630.860     -6.003      74.3790   21048.300152
981.0      7.786872e+06   352284.460      8.175    4188.3000   39782.648410
987.0      3.018395e+05     8018.130      0.000    1510.2600    2117.963512
991.0      6.452000e+07  1623942.580   7000.121  212463.5755  299216.108515

[233 rows x 5 columns]