In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("IEC_2017-2022.csv")

In [6]:
df.describe()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,community,calendar_month,consumption_unit,consumption
count,7.309472e+07,7.309472e+07,7.309472e+07,7.300552e+07,7.309472e+07,7.309472e+07,7.309472e+07
mean,7.691172e+06,7.691172e+06,7.481255e+05,3.919694e+02,2.018875e+05,3.082873e+03,3.185167e+03
std,5.526283e+06,5.526283e+06,4.731440e+05,1.876854e+02,1.463710e+02,4.965764e+04,4.965451e+04
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.008020e+05,-3.575074e+06,-3.575074e+06
25%,3.045613e+06,3.045613e+06,3.447860e+05,2.510000e+02,2.018020e+05,1.106300e+02,1.503170e+02
50%,6.425390e+06,6.425390e+06,6.969460e+05,3.630000e+02,2.019020e+05,3.768100e+02,4.548220e+02
75%,1.196892e+07,1.196892e+07,1.137508e+06,5.910000e+02,2.019120e+05,1.249368e+03,1.474250e+03
max,2.050818e+07,2.050818e+07,1.839814e+06,9.910000e+02,2.022050e+05,2.689510e+08,2.689510e+08

In [ ]:
df1 = df.groupby(by="calendar_month").aggregate(sum)
print(df1)

In [4]:
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,community,rate_category,consumption_period,calendar_month,consumption_unit,consumption
0,0,0,0,345.0,ENORATE,22.03.2017,201201,0.0,0.000045
1,1,1,1,345.0,ENORATE,22.03.2017,201202,0.0,0.004710
2,2,2,2,345.0,ENORATE,22.03.2017,201203,0.0,0.009421
3,3,3,3,345.0,ENORATE,22.03.2017,201204,0.0,0.014131
4,4,4,4,345.0,ENORATE,22.03.2017,201205,0.0,0.018842

In [5]:
df.drop(columns=['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'])
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,community,rate_category,consumption_period,calendar_month,consumption_unit,consumption
0,0,0,0,345.0,ENORATE,22.03.2017,201201,0.0,0.000045
1,1,1,1,345.0,ENORATE,22.03.2017,201202,0.0,0.004710
2,2,2,2,345.0,ENORATE,22.03.2017,201203,0.0,0.009421
3,3,3,3,345.0,ENORATE,22.03.2017,201204,0.0,0.014131
4,4,4,4,345.0,ENORATE,22.03.2017,201205,0.0,0.018842

In [8]:
df1 = df.iloc[:, [3, 4, 5, 6, 7, 8]]
df1.head()

,community,rate_category,consumption_period,calendar_month,consumption_unit,consumption
0,345.0,ENORATE,22.03.2017,201201,0.0,0.000045
1,345.0,ENORATE,22.03.2017,201202,0.0,0.004710
2,345.0,ENORATE,22.03.2017,201203,0.0,0.009421
3,345.0,ENORATE,22.03.2017,201204,0.0,0.014131
4,345.0,ENORATE,22.03.2017,201205,0.0,0.018842

In [ ]:
df1 = df.sort_index()
print(df1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73094717 entries, 0 to 73094716
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0.2        int64
 1   Unnamed: 0.1        int64
 2   Unnamed: 0          int64
 3   community           float64
 4   rate_category       object
 5   consumption_period  object
 6   calendar_month      int64
 7   consumption_unit    float64
 8   consumption         float64
dtypes: float64(3), int64(4), object(2)
memory usage: 4.9+ GB

In [9]:
df1["consumption_periods"] = df["consumption_period"].astype(str)
df1.head()

C:\Users\UAE12\AppData\Local\Temp\ipykernel_32800\2185673402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["consumption_periods"] = df["consumption_period"].astype(str)

,community,rate_category,consumption_period,calendar_month,consumption_unit,consumption,consumption_periods
0,345.0,ENORATE,22.03.2017,201201,0.0,0.000045,22.03.2017
1,345.0,ENORATE,22.03.2017,201202,0.0,0.004710,22.03.2017
2,345.0,ENORATE,22.03.2017,201203,0.0,0.009421,22.03.2017
3,345.0,ENORATE,22.03.2017,201204,0.0,0.014131,22.03.2017
4,345.0,ENORATE,22.03.2017,201205,0.0,0.018842,22.03.2017

In [10]:

df1["consumption_periods"] = pd.to_datetime(df1["consumption_period"], format = '%d.%m.%Y', errors = 'coerce')
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73094717 entries, 0 to 73094716
Data columns (total 7 columns):
 #   Column               Dtype
---  ------               -----
 0   community            float64
 1   rate_category        object
 2   consumption_period   object
 3   calendar_month       int64
 4   consumption_unit     float64
 5   consumption          float64
 6   consumption_periods  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 3.8+ GB

C:\Users\UAE12\AppData\Local\Temp\ipykernel_32800\3949698882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["consumption_periods"] = pd.to_datetime(df1["consumption_period"], format = '%d.%m.%Y', errors = 'coerce')

,community,rate_category,consumption_period,calendar_month,consumption_unit,consumption,consumption_periods
0,345.0,ENORATE,22.03.2017,201201,0.0,0.000045,2017-03-22
1,345.0,ENORATE,22.03.2017,201202,0.0,0.004710,2017-03-22
2,345.0,ENORATE,22.03.2017,201203,0.0,0.009421,2017-03-22
3,345.0,ENORATE,22.03.2017,201204,0.0,0.014131,2017-03-22
4,345.0,ENORATE,22.03.2017,201205,0.0,0.018842,2017-03-22

In [12]:
df2 = df1.iloc[:, [0, 1, 3, 5, 6]]
df2.head()

   community rate_category  calendar_month  consumption consumption_periods
0      345.0       ENORATE          201201     0.000045          2017-03-22
1      345.0       ENORATE          201202     0.004710          2017-03-22
2      345.0       ENORATE          201203     0.009421          2017-03-22
3      345.0       ENORATE          201204     0.014131          2017-03-22
4      345.0       ENORATE          201205     0.018842          2017-03-22

In [13]:
df.sort_values("consumption_periods")
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,community,rate_category,consumption_period,calendar_month,consumption_unit,consumption,consumption_periods
0,0,0,0,345.0,ENORATE,22.03.2017,201201,0.0,0.000045,2017-03-22
1,1,1,1,345.0,ENORATE,22.03.2017,201202,0.0,0.004710,2017-03-22
2,2,2,2,345.0,ENORATE,22.03.2017,201203,0.0,0.009421,2017-03-22
3,3,3,3,345.0,ENORATE,22.03.2017,201204,0.0,0.014131,2017-03-22
4,4,4,4,345.0,ENORATE,22.03.2017,201205,0.0,0.018842,2017-03-22

In [15]:
dfJew = pd.to_datetime(df["consumption_periods"], format= "%y%m%d")
dfJew.head()

0   2017-03-22
1   2017-03-22
2   2017-03-22
3   2017-03-22
4   2017-03-22
Name: consumption_periods, dtype: datetime64[ns]

In [13]:
df2.to_csv('IEC_2017-2022v1.csv')